/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background-color: #d5e3f0 !important;
  }
  
.basic-container {
    padding: 30px;
  }
  
.version-info {
    font-size: 8pt;
    float: right;
  }
/* Form Section */
.form-header-container{
    width:100%;
    padding:9px 10px;
    background-color: #3f51b5;
    margin-bottom: 1em;
  }
.form-border
{
  background-color: #fff;
}
.form-footer-container{
    width:100%;
   margin-bottom: 1em;
    
  }
.form-header-title{
font-size:20px;
color:#fff;
    }
/*Table Section*/
.table-header-title{
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
/*image section*/
.img-size{
  max-width:120px;
  max-height:120px;
  min-width:100px;
  min-height:100px;
  border:1px solid gray;
  padding:2px;
}  
/*end image section*/

/*buttons*/
.file-upload-button{
  height: 36px;
  margin: 0px;
  padding: 0 5px;
  color: #fff;
  background-color: #3f51b5;
  border: 5px;
  border-radius: 3px;
  font-weight: normal;
}  
/*end buttons*/

/*div padding*/
.padding0px{
padding:0px !important;
}
/*end div padding*/
/*div margin*/
.margin1
{
  margin-top:1em !important;
}
/*end div margin*/
/*hr tag*/
hr{
margin-top:1em !important;
margin-bottom:1em !important;    
border-top: 1px solid #949494 !important;

}

/*end hr tag*/

table{
  width:100%;
}
.login-header {
  font-weight:bold;
  font-size:20px;
    }
    
    .login-title
    {
      font-size:22px;        
      color:#337ab7 !important;
      font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
  
    }
    .example-margin {
      margin: 0 10px;
    }
  
   .example-form {
   
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }  
    .example-card {
      max-width: 400px;
      margin:auto;    
      background-color: #f5f5f5;
      margin-top:10%;        
    }
    .example-form {
      min-width: 150px;
      max-width: auto;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }

    .btn-alignment{
      float: right;
    }
    .content-align{
      text-align: center;
    }