<app-header [PageHeader]="PageHeader"></app-header>
<div class="col-md-12 col-sm-12" style="margin-top:2%">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row form-border">
                <div class="col-md-12 col-sm-12 form-header-container">
                    <span class="form-header-title">Add/Update products</span>
                </div>
                <div class="col-md-12 col-sm-12">
                    <form class="example-form form" [formGroup]="productsForm">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <mat-select required placeholder="Select Category" (ngModelChange)="test($event)" formControlName="categoryId" [(ngModel)]="products.CatId">
                                    <mat-option *ngFor="let item of Cat_List" [value]="item.Id">{{item.Name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="productsForm.get('categoryId').invalid && productsForm.get('categoryId').touched">Select
                                    Category</mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-select required placeholder="Select SubCategory" formControlName="subcategoryId" [(ngModel)]="products.SubCatId">
                                    <mat-option *ngFor="let item of Sub_Cat_List" [value]="item.Id">{{item.Name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="productsForm.get('subcategoryId').invalid && productsForm.get('subcategoryId').touched">Select
                                    subCategory</mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="productName" [(ngModel)]="products.Name" placeholder="products Category Name" required>
                                <mat-error *ngIf="productsForm.get('productName').invalid && productsForm.get('productName').touched">productName
                                    name required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="productdiscription" [(ngModel)]="products.Description" placeholder="products discription"
                                    required>
                                <mat-error *ngIf="productsForm.get('productdiscription').invalid && productsForm.get('productdiscription').touched">product
                                    discription required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="productweight" [(ngModel)]="products.Weight" placeholder="products weight" required>
                                <mat-error *ngIf="productsForm.get('productweight').invalid && productsForm.get('productweight').touched">product
                                    weith required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="productprice" [(ngModel)]="products.Price" placeholder="products price" required>
                                <mat-error *ngIf="productsForm.get('productprice').invalid && productsForm.get('productprice').touched">product
                                    price required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12 col-sm-12 padding0px">
                                <div class="col-md-6 col-sm-6 col-xs-6 padding0px">
                                    <button class="file-upload-button" (click)="UploadImage.click()">Select Image</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 ">
                                    <img [src]="products.Image" for *ngIf="products.Image" class="img-responsive img-size" alt="productImage" />
                                    <input #UploadImage style="display:none" type="file" accept="image/*" (change)="changeListener($event)">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                </div>

                <div class="col-md-12 col-sm-12 text-center form-footer-container margin1">
                    <hr class="style1">
                    <button  mat-raised-button color="primary" (click)="SaveData()">
                        Add </button> &nbsp;
                    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
                </div>
            </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12" style="margin-top:2%">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row well">
        <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef><span class="table-header-title">Category</span> </th>
                        <td mat-cell *matCellDef="let element">{{element.CatName}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="subcategory">
                            <th mat-header-cell *matHeaderCellDef><span class="table-header-title">Subcategory</span> </th>
                            <td mat-cell *matCellDef="let element">{{element.SubCatName}}</td>
                        </ng-container>  

                <ng-container matColumnDef="ProductName">
                        <th mat-header-cell *matHeaderCellDef><span class="table-header-title">prodcut Name</span> </th>
                        <td mat-cell *matCellDef="let element">{{element.Name}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="productdiscription">
                        <th mat-header-cell *matHeaderCellDef><span class="table-header-title">prodcut Disctiption</span> </th>
                        <td mat-cell *matCellDef="let element">{{element.Description}}</td>
                    </ng-container> 
                    <ng-container matColumnDef="productweight">
                        <th mat-header-cell *matHeaderCellDef><span class="table-header-title">prodcut weight</span> </th>
                        <td mat-cell *matCellDef="let element">{{element.Weight}}</td>
                    </ng-container>  
                    <ng-container matColumnDef="productprice">
                        <th mat-header-cell *matHeaderCellDef><span class="table-header-title">prodcut price</span> </th>
                        <td mat-cell *matCellDef="let element">{{element.Price}}</td>
                    </ng-container> 
            <ng-container matColumnDef="productImage">
                <th mat-header-cell *matHeaderCellDef><span class="table-header-title">product Image</span></th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.Image" alt={{element.Image}} style="max-height:80px;max-width:80px;padding:2px;"/>
                </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef><span class="table-header-title">Action</span></th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-primary" (click)="editProduct(element)">Edit</button>
                    &nbsp; &nbsp;
                    <button class="btn btn-danger" (click)="deleteproduct(element)">Delete</button>
                </td>
            </ng-container>            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

  </div>
  
</div>